<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <elgentos translate="label">
            <label>Elgentos</label>
            <sort_order>195</sort_order>
        </elgentos>
    </tabs>
    <sections>
        <autoinvoice translate="label" module="autoinvoice">
            <label>Auto invoice</label>
            <tab>elgentos</tab>
            <sort_order>0</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="autoinvoice">
                    <label>General</label>
                    <expanded>1</expanded>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <conditions_to_process>
                            <label>Conditions to process</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>autoinvoice/system_config_form_field_conditionstoprocess</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </conditions_to_process>
                        <auto_invoice>
                            <label>Auto create invoice</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </auto_invoice>
                        <auto_shipment>
                            <label>Auto create shipment</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </auto_shipment>
                        <trigger_sales_order_place_after>
                            <label>Check on placing sale</label>
                            <comment>sales_order_place_after</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </trigger_sales_order_place_after>
                        <trigger_sales_order_payment_pay>
                            <label>Check on payment paid</label>
                            <comment>sales_order_payment_pay</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </trigger_sales_order_payment_pay>
                        <status_after_processing>
                            <label>State/status combination to set after processing</label>
                            <comment>If empty, the status as dictated by the Magento workflow will be used</comment>
                            <frontend_type>select</frontend_type>
                            <frontend_model>autoinvoice/system_config_form_field_conditionstoprocess</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </status_after_processing>
                    </fields>
                </general>
            </groups>
        </autoinvoice>
    </sections>
</config>
